
.loginCard{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    border-radius: 10px;
    padding: 0px ;
    
    
}
.login{
    padding: 2rem;
    border-radius: 10px;
    width: 600px;
    height: 600px;
    text-align: center;
    
}
label{
    color: #fff;
    font-size: 3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: hold;
}
input{
    width: 60%;
    height: 20px;
    background: #dad1d1;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px; 
}
#btn1{
    width: 30%;
    height: 50px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
#btn1:hover{
    background: #6d44b8; 
}